.ttw-music-player .player-controls {
    background: none;
    width: auto;
    margin: 0;
    width: 100% !important; }
    .ttw-music-player .player-controls .main {
      width: 103px;
      margin: 0; }
  .ttw-music-player .progress-wrapper {
    width: calc(100% - 123px);
    height: 10px;
    margin: 13px 0 0 20px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background: none;
    background-color: #1d1d33; }
  .ttw-music-player .duration-time {
    width: calc(100% - 123px);
    margin: 0 0 0 123px;
    cursor: auto !important;
    font-size: 11px;
    color: #bdbdcf; }
    .ttw-music-player .duration-time .jp-duration {
      float: right; }
  .ttw-music-player .elapsed {
    background: none;
    background-color: #ff0000;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin: 0;
    height: 10px; }
  .ttw-music-player .tracklist {
    padding: 0; }
    .ttw-music-player .tracklist ol {
      list-style-type: decimal;
      font: 14px RobotoLight, Arial, Helvetica, sans-serif; }
    .ttw-music-player .tracklist li {
      border-width: 0 0 1px 0;
      border-style: solid;
      border-color: #bdbdcf;
      padding: 8px 0;
      color: #3d3d5c; }
      .ttw-music-player .tracklist li:hover {
        color: #3d3d5c; }
    .ttw-music-player .tracklist .title {
      border: none;
      margin: 0;
      width: auto;
      color: #3d3d5c;
      padding: 0 85px 0 5px;
      font: 14px "RobotoLight", Arial, Helvetica,sans-serif; }
      .ttw-music-player .tracklist .title:hover {
        color: #ff0000; }
    .ttw-music-player .tracklist .playing {
      color: #3d3d5c !important;
      font-family: "RobotoMedium", Arial, Helvetica,sans-serif; }
      .ttw-music-player .tracklist .playing .title {
        color: #3d3d5c !important;
        font-family: "RobotoMedium", Arial, Helvetica,sans-serif; }
  .ttw-music-player .buy {
    font-family: 'FontAwesome';
    width: auto;
    margin: 3px 0 0 0; }
    .ttw-music-player .buy a {
      font-size: 14px;
      color: #bdbdcf;
      margin: 0 0 0 10px;
      -webkit-transition: color 300ms linear;
      -moz-transition: color 300ms linear;
      -o-transition: color 300ms linear;
      -ms-transition: color 300ms linear;
      transition: color 300ms linear; }
      .ttw-music-player .buy a:hover {
        color: #ff0000;
        -webkit-transition: color 300ms linear;
        -moz-transition: color 300ms linear;
        -o-transition: color 300ms linear;
        -ms-transition: color 300ms linear;
        transition: color 300ms linear; }
  .ttw-music-player .previous {
    background: transparent url(images/player-previous.png) no-repeat 50% 48% scroll;
    width: 36px;
    height: 36px; }
  .ttw-music-player .play {
    background: transparent url(images/player-play.png) no-repeat center center scroll;
    width: 45px;
    height: 45px; }
  .ttw-music-player .pause {
    background: transparent url(images/player-pause.png) no-repeat center center scroll;
    width: 45px;
    height: 45px; }
  .ttw-music-player .next {
    background: transparent url(images/player-next.png) no-repeat 50% 48% scroll;
    width: 36px;
    height: 36px; }
  .ttw-music-player .previous, .ttw-music-player .play, .ttw-music-player .pause, .ttw-music-player .next {
    background-color: #1d1d33;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: relative;
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear; }
    .ttw-music-player .previous:hover, .ttw-music-player .play:hover, .ttw-music-player .pause:hover, .ttw-music-player .next:hover {
      background-color: #ff0000;
      -webkit-transition: background-color 300ms linear;
      -moz-transition: background-color 300ms linear;
      -o-transition: background-color 300ms linear;
      -ms-transition: background-color 300ms linear;
      transition: background-color 300ms linear; }
  .ttw-music-player .previous, .ttw-music-player .next {
    margin: 0;
    z-index: 10; }
  .ttw-music-player .play, .ttw-music-player .pause {
    margin: -5px -7px 0;
    z-index: 9; }
  .ttw-music-player .rating-bar, .ttw-music-player .album-cover, .ttw-music-player .track-info {
    display: none; }
  .ttw-music-player .more {
    background: none;
    background-color: #3d3d5c;
    text-shadow: none;
    font-style: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    font-family: "RobotoMedium", Arial, Helvetica,sans-serif;
    width: 98px;
    float: right;
    margin: 13px 0 0 0; }
    .ttw-music-player .more:hover {
      background: none;
      background-color: #ff0000; }